.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.table header {
  display: flex;
}

.table header h2 {
  flex-basis: 33.33%;
}

.table-row {
  display: flex;
}

.table-row div {
  flex-basis: 33.33%;
}

.table-row div img {
  max-height: 50px;
}

.pagination span {
  display: inline-block;
  color: blue;
  cursor: pointer;
  padding: 10px;
}

.pagination span:hover {
  text-decoration: underline;
}
